
.root{
    -fx-background-image: url("file:src/main/resources/image/staff/menubackground.jpg");
}


.button {
	-fx-background-color:transparent;
	-fx-background-radius: 3px; 
}

#pane{
	-fx-background-image:url("file:src/main/resources/image/staff/pane.png");	
}


#room{
	-fx-background-image:url("file:src/main/resources/image/staff/room.png");	
}
#room:hover{
	-fx-background-image:url("file:src/main/resources/image/staff/room_hover.png");	
}


#hotel_message{
	-fx-background-image:url("file:src/main/resources/image/staff/hotel_message_hover.png");
}

#order{
	-fx-background-image:url("file:src/main/resources/image/staff/order.png");	
}
#order:hover{
	-fx-background-image:url("file:src/main/resources/image/staff/order_hover.png");
}

#promotion{
	-fx-background-image:url("file:src/main/resources/image/staff/hotel_promotion.png");	
}
#promotion:hover{
	-fx-background-image:url("file:src/main/resources/image/staff/hotel_promotion_hover.png");
}

#peopleInfo{
	-fx-background-image:url("file:src/main/resources/image/staff/peopleInfo.png");	
}

#peopleInfo:hover{
	-fx-background-image:url("file:src/main/resources/image/staff/peopleInfo_hover.png");	
}

#update{
	-fx-background-image:url("file:src/main/resources/image/staff/change.png");	
}

#update:hover{
	-fx-background-image:url("file:src/main/resources/image/staff/change_hover.png");	
}

#cancel{
	-fx-background-image:url("file:src/main/resources/image/staff/cancel.png");	
}

#cancel:hover{
	-fx-background-image:url("file:src/main/resources/image/staff/cancel_hover.png");	
}
