.root {
	-fx-background-image:url("file:src/main/resources/image/manage/menubackground.jpg");
}

.button {
	-fx-background-color:transparent;
	-fx-background-radius: 3px; 
}
#pane{
	-fx-background-image:url("file:src/main/resources/image/manage/pane.png");	
}
#photo{
	-fx-background-image:url("file:src/main/resources/image/manage/photo.png");	
}


#peopleInfo{
	-fx-background-image:url("file:src/main/resources/image/manage/peopleInfo_hover.png");	
}

#addhotel{
	-fx-background-image:url("file:src/main/resources/image/manage/addhotel.png");	
}

#addhotel:hover{
	-fx-background-image:url("file:src/main/resources/image/manage/addhotel_hover.png");	
}

#addpeople{
	-fx-background-image:url("file:src/main/resources/image/manage/addpeople.png");	
}
#addpeople:hover{
	-fx-background-image:url("file:src/main/resources/image/manage/addpeople_hover.png");
}

#change{
	-fx-background-image:url("file:src/main/resources/image/manage/change.png");	
}
#change:hover{
	-fx-background-image:url("file:src/main/resources/image/manage/change_hover.png");
}

#check{
	-fx-background-image:url("file:src/main/resources/image/manage/check.png");	
}
#check:hover{
	-fx-background-image:url("file:src/main/resources/image/manage/check_hover.png");
}
