.root {
	-fx-background-image:url("file:src/main/resources/image/manage/menu.png");
}

.button {
	-fx-background-color:transparent;
	-fx-background-radius: 3px; 
}
.label{
	-fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-text-fill: darkslategray;
}

#title{
	-fx-font-size: 32px;
	-fx-background-image: url("file:src/main/resources/image/manage/menutitle.png");	
}
#addhotel{
	-fx-background-image:url("file:src/main/resources/image/manage/addhotel.png");	
}

#addhotel:hover{
	-fx-background-image:url("file:src/main/resources/image/manage/addhotel_hover.png");	
}

#addpeople{
	-fx-background-image:url("file:src/main/resources/image/manage/addpeople.png");	
}
#addpeople:hover{
	-fx-background-image:url("file:src/main/resources/image/manage/addpeople_hover.png");
}

#change{
	-fx-background-image:url("file:src/main/resources/image/manage/change.png");	
}
#change:hover{
	-fx-background-image:url("file:src/main/resources/image/manage/change_hover.png");
}

#Look{
	-fx-background-image:url("file:src/main/resources/image/manage/Look.png");	
}
#Look:hover{
	-fx-background-image:url("file:src/main/resources/image/manage/Look_hover.png");
}

#people_pane{
	-fx-background-image:url("file:src/main/resources/image/manage/transpent.png");
}

#hotel_pane{
	-fx-background-image:url("file:src/main/resources/image/manage/transpent.png");
}