/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-27, 6:32:00
    Author     : apple
*/
.root{
  -fx-background-image: url("file:src/main/resources/image/client/background.png");
 }
.button{
	-fx-background-color: transparent;
}


#title{
	-fx-background-image: url("file:src/main/resources/image/client/title.png");
}

#all{
	-fx-background-image: url("file:src/main/resources/image/client/all.png");
}
#all:hover{
	-fx-background-image: url("file:src/main/resources/image/client/all_hover.png");
}

#logout{
	-fx-background-image: url("file:src/main/resources/image/client/logout.png");
}
#logout:hover{
	-fx-background-image: url("file:src/main/resources/image/client/logout_hover.png");
}



#browse_order{
	-fx-background-image: url("file:src/main/resources/image/client/browse_order.png");
}
#browse_order:hover{
	-fx-background-image: url("file:src/main/resources/image/client/browse_order_hover.png");
}



#member{
	-fx-background-image: url("file:src/main/resources/image/client/member.png");
}
#member:hover{
	-fx-background-image: url("file:src/main/resources/image/client/member_hover.png");
}


#maintain_message{
	-fx-background-image: url("file:src/main/resources/image/client/message.png");
}
#maintain_message:hover{
	-fx-background-image: url("file:src/main/resources/image/client/message_hover.png");
}

#history{
	-fx-background-image: url("file:src/main/resources/image/client/history.png");
}
#history:hover{
	-fx-background-image: url("file:src/main/resources/image/client/history_hover.png");
}


#search{
	-fx-background-image: url("file:src/main/resources/image/client/search.png");
}
#search:hover{
	-fx-background-image: url("file:src/main/resources/image/client/search_pressed.png");
}


#hotel_one{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_one.png");
}
#hotel_one:hover{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_one_hover.png");
}


#hotel_two{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_two.png");
}
#hotel_two:hover{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_two_hover.png");
}

#hotel_three{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_three.png");
}
#hotel_three:hover{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_three_hover.png");
}

#hotel_four{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_four.png");
}
#hotel_four:hover{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_four_hover.png");
}

#hotel_five{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_five.png");
}
#hotel_five:hover{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_five_hover.png");
}

#hotel_six{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_six.png");
}
#hotel_six:hover{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_six_hover.png");
}

#hotel_seven{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_seven.png");
}
#hotel_seven:hover{
	-fx-background-image: url("file:src/main/resources/image/client/hotel_seven_hover.png");
}