/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-27, 6:32:00
    Author     : apple
*/

.root{
  -fx-background-image: url("file:src/main/resources/image/client/background.png");
 }


.button{
	-fx-background-color: transparent;
}

#title{
	-fx-background-image: url("file:src/main/resources/image/client/title.png");
}

#all{
	-fx-background-image: url("file:src/main/resources/image/client/history_all.png");
}
#all:hover{
	-fx-background-image: url("file:src/main/resources/image/client/history_all_hover.png");
}


#history_hotel{
	-fx-background-image: url("file:src/main/resources/image/client/history_hotel.png");
}
#history_hotel:hover{
	-fx-background-image: url("file:src/main/resources/image/client/history_hotel_hover.png");
}

#history_order{
	-fx-background-image: url("file:src/main/resources/image/client/history_order.png");
}
#history_order:hover{
	-fx-background-image: url("file:src/main/resources/image/client/history_order_hover.png");
}

#check_order{
	-fx-background-image: url("file:src/main/resources/image/client/check.png");
}
#check_order:hover{
	-fx-background-image: url("file:src/main/resources/image/client/check_hover.png");
}



#check_hotel{
	-fx-background-image: url("file:src/main/resources/image/client/check.png");
}
#check_hotel:hover{
	-fx-background-image: url("file:src/main/resources/image/client/check_hover.png");
}

#check_all{
	-fx-background-image: url("file:src/main/resources/image/client/check.png");
}
#check_all:hover{
	-fx-background-image: url("file:src/main/resources/image/client/check_hover.png");
}

#cancel{
	-fx-background-image: url("file:src/main/resources/image/client/return.png");
}

#cancel:hover{
	-fx-background-image: url("file:src/main/resources/image/client/return_hover.png");
}