/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-27, 6:32:00
    Author     : apple
*/

.root{
  -fx-background-image: url("file:src/main/resources/image/client/background.png");
 }


.button{
	-fx-background-color: transparent;
}

#title{
	-fx-background-image: url("file:src/main/resources/image/client/title.png");
}

#return_{
	-fx-background-image: url("file:src/main/resources/image/client/return.png");
}

#return_:hover{
	-fx-background-image: url("file:src/main/resources/image/client/return_hover.png");
}

#change{
	-fx-background-image: url("file:src/main/resources/image/client/change.png");
}

#change:hover{
	-fx-background-image: url("file:src/main/resources/image/client/change_hover.png");
}

#credit_history{
	-fx-background-image: url("file:src/main/resources/image/client/credit_history.png");
}

#credit_history:hover{
	-fx-background-image: url("file:src/main/resources/image/client/credit_history_hover.png");
}
