/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-27, 15:51:50
    Author     : apple
*/

.root{
      -fx-background-image: url("file:src/main/resources/image/market/menu.png");
 }
 .button {
	-fx-background-color:transparent;
	-fx-background-radius: 3px; 
}
#cancel{
	-fx-background-image:url("file:src/main/resources/image/market/cancel.png");
}
#cancel:hover{
	-fx-background-image:url("file:src/main/resources/image/market/cancel_hover.png");
}
#confirm{
	-fx-background-image:url("file:src/main/resources/image/market/confirm.png");
}
#confirm:hover{
	-fx-background-image:url("file:src/main/resources/image/market/confirm_hover.png");
}