/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-27, 6:32:00
    Author     : apple
*/

.root{
 	-fx-background-image: url("file:src/main/resources/image/market/menubackground.png");
 }

.button {
	-fx-background-color:transparent;
	-fx-background-radius: 3px; 
}

#web_promotion{
	-fx-background-image:url("file:src/main/resources/image/market/web_promotion.png");	
}

#unusual_order{
	-fx-background-image:url("file:src/main/resources/image/market/unusual_order.png");	
}

#unexecuted_order{
	-fx-background-image:url("file:src/main/resources/image/market/unexecuted_order.png");	
}

#credit{
	-fx-background-image:url("file:src/main/resources/image/market/credit_hover.png");
}
#peopleInfo{
	-fx-background-image:url("file:src/main/resources/image/market/peopleInfo.png");	
}