.root {
	-fx-background-image:url("file:src/main/resources/image/market/menu.png");
}

.button {
	-fx-background-color:transparent;
	-fx-background-radius: 3px; 
}
.label{
	-fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-text-fill: darkslategray;
}

#title{
	-fx-font-size: 32px;
	-fx-background-image: url("file:src/main/resources/image/market/menutitle.png");	
}
#web_promotion{
	-fx-background-image:url("file:src/main/resources/image/market/web_promotion.png");	
}

#web_promotion:hover{
	-fx-background-image:url("file:src/main/resources/image/market/web_promotion_hover.png");	
}

#unusual_order{
	-fx-background-image:url("file:src/main/resources/image/market/unusual_order.png");	
}
#unusual_order:hover{
	-fx-background-image:url("file:src/main/resources/image/market/unusual_order_hover.png");
}

#unexecuted_order{
	-fx-background-image:url("file:src/main/resources/image/market/unexecuted_order.png");	
}
#unexecuted_order:hover{
	-fx-background-image:url("file:src/main/resources/image/market/unexecuted_order_hover.png");
}

#credit{
	-fx-background-image:url("file:src/main/resources/image/market/credit.png");	
}
#credit:hover{
	-fx-background-image:url("file:src/main/resources/image/market/credit_hover.png");
}


#pane{
	-fx-background-image:url("file:src/main/resources/image/market/transpent.png");
}