/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-27, 14:22:56
    Author     : apple
*/
.root{
    -fx-background-image: url("file:src/main/resources/image/market/menubackground.jpg");      
}
#unexecuted_order_title{
	-fx-background-image: url("file:src/main/resources/image/market/unexecuted_order_title.png"); 
}


.button {
	-fx-background-color:transparent;
	-fx-background-radius: 3px; 
}

#unexecuted_order{
	-fx-background-image:url("file:src/main/resources/image/market/unexecuted_order_now.png");
}

#unusual_order{
	-fx-background-image:url("file:src/main/resources/image/market/unusual_order.png");
}
#unusual_order:hover{
	-fx-background-image:url("file:src/main/resources/image/market/unusual_order_hover.png");
}

#credit{
	-fx-background-image:url("file:src/main/resources/image/market/credit.png");
}
#credit:hover{
	-fx-background-image:url("file:src/main/resources/image/market/credit_hover.png");
}

#web_promotion{
	-fx-background-image:url("file:src/main/resources/image/market/web_promotion.png");
}
#web_promotion:hover{
	-fx-background-image:url("file:src/main/resources/image/market/web_promotion_hover.png");
}
#check{
	-fx-background-image:url("file:src/main/resources/image/market/check.png");
}
#check:hover{
	-fx-background-image:url("file:src/main/resources/image/market/check_hover.png");
}

#cancel{
	-fx-background-image:url("file:src/main/resources/image/market/cancel.png");
}
#cancel:hover{
	-fx-background-image:url("file:src/main/resources/image/market/cancel_hover.png");
}
